body,
html {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 800px;
  margin: 0 auto;
}

h1.title {
  text-align: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.main {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  .projects {
    flex: 1;
    background-color: #dfe1e6;
    border-radius: 3px;
    margin-right: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    .project-main {
      display: flex;
      align-items: center;
    }

    .new-project-form,
    .edit-form {
      display: flex;
      align-items: center;
    }
  }

  .todos {
    flex: 1.5;
    background-color: #dfe1e6;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;

    .short {
      display: flex;
      align-items: center;

      .edit-todo {
        margin-left: auto;
        margin-right: 12px;
      }
    }

    .more {
      margin-top: 20px;

      > * {
        margin: 10px 0;
        display: flex;
        align-items: center;
      }

      i {
        margin: 0 15px 0 23px;
        width: 18px;
        height: 18px;
      }
    }

    .edit {
      display: flex;

      > div {
        display: flex;
        flex-direction: column;

        > div {
          display: flex;
          align-items: center;
        }
      }

      i {
        margin: 0 15px 0 23px;
        width: 18px;
        height: 18px;
      }

      i.cancel,
      i.submit-button {
        align-self: center;
        margin: 0;
      }

      button[type='submit'] {
        margin-left: auto;
        margin-right: 15px;
      }
    }

    input[type='text'] {
      margin: 10px 0;
      width: 83%;
    }

    textarea,
    input[type='date'],
    select {
      margin: 10px 0;
      width: 83%;
    }

    textarea {
      resize: vertical;
      position: relative;
    }
  }

  .project,
  .todo,
  .new-project,
  .new-todo {
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 3px;
    background: rgb(250, 250, 250);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }

  .project:hover,
  .todo:hover,
  .new-project:hover,
  .new-todo:hover {
    background: #f4f5f7;
  }

  .project-main {
    display: flex;

    .edit-project {
      margin-left: auto;
      margin-right: 12px;
    }
  }

  .new-todo-form {
    display: flex;
    align-items: center;
  }
}

.projects-title,
.todos-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 20px 15px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(92, 92, 92, 0.1);
}

.edit-form button[type='submit'],
.new-project-form button[type='submit'],
.new-todo-form button[type='submit'] {
  margin-left: auto;
  margin-right: 12px;
}

.active {
  background: #e6e6e6 !important;
}

input,
select,
textarea {
  outline: none;
  border-radius: 3px;
  padding: 0 10px;
  width: 75%;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid rgb(230, 230, 230);
}

input[type='checkbox'] {
  display: none;
}

label {
  display: inline-flex;
  align-items: center;
}

label::before {
  content: '\2714';
  border: 1px solid #dadada;
  border-radius: 50%;
  color: transparent;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

input[type='checkbox']:checked + label::before {
  color: #5dc2af;
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

i {
  font-size: 0.9rem;
}

.submit-button {
  color: #5dc2af;
}

.cancel {
  color: #df6c6c;
}

.hide {
  display: none !important;
}

.urgent {
  background-color: #f7e6e6 !important;
}
